@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Quattrocento Sans", "Mulish", Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.country,
.product {
  padding: 16px;
  border: 1px solid darkblue;
  background-color: azure;
  margin: 20px;
  width: 300px;
  gap: 16px;
}

.desc {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
}

.emblem {
  align-items: center;
}
